!.gitignore
!.gitpod.yml
.theia
.vscode
!.gitpod.Dockerfile
!learn.json
!README.md

!/.learn
/.learn/**
!/.learn/bc.json
!/.learn/.bc.json
!/.learn/exercises
!/.learn/exercises/**
!/.learn/assets
!/.learn/assets/**

*.pyc
.venv
conftest.py
__pycache__/
.pytest_cache/
